<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logoipsum</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</head>

<body>

    <!-- Section - Header -->
    <header id="navbar-script">
        <div class="logo">
            <img src="Assets/Logos/LogoWhite.svg" alt="logo" />
        </div>

        <div class="menubar">
            <nav class="menuItem visibleMenu">
                <a href="#home" v-if="!isMobile">HOME</a>
                <a href="#ourScreens" v-if="!isMobile">OUR SCREENS</a>
                <a href="#schedule" v-if="!isMobile">SCHEDULE</a>
                <a href="#movieLibrary" v-if="isDesktop">MOVIE LIBRARY</a>
                <a href="#location" v-if="isDesktop">LOCATION & CONTACT</a>
            </nav>

            <nav class="menuItem sidebarMenu" :class="{ 'show': menuVisible }" v-if="!isDesktop">
                <button id="closeBtn" @click="toggleMenu">
                    <img src="Assets/Icons/CloseWhite.svg" alt="close button image" />
                </button>

                <template v-if="isMobile">
                    <a href="#home">HOME</a>
                    <a href="#ourScreens">OUR SCREENS</a>
                    <a href="#schedule">SCHEDULE</a>
                </template>

                <a href="#movieLibrary" v-if="isTablet || isMobile">MOVIE LIBRARY</a>
                <a href="#location" v-if="isTablet || isMobile">LOCATION & CONTACT</a>
            </nav>
          
            <button id="hamburger" @click="toggleMenu" v-if="!isDesktop || isDesktop">
                <img src="Assets/Icons/MenuWhite.svg" alt="menu image" />
            </button>
        </div>
    </header>

</body>

</html>